{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Nurl</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="submit" type="submit" value="Edit" />
    {{ form_end(edit_form) }}



    <a class="block_link" href="{{ path('nurl_show', {'id':nurl.id}) }}">Back to Nurl</a>


{% endblock %}
