{% extends 'base.html.twig' %}

{% block body %}
    <h1>User edit</h1>

    {% if edit_form %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="submit" type="submit" value="Save Changes" />
    {{ form_end(edit_form) }}
    {% endif %}
    <a class="block_link" href="{{ path('user_show', {'id':user.id}) }}">Back to Profile</a>
{% endblock %}
