{% extends 'base.html.twig' %}

{% block body %}
    <h1>Collection creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="submit" type="submit" value="Create" />
    {{ form_end(form) }}

    <a class="block_link" href="{{ path('collection_index') }}">Back to Profile</a>

{% endblock %}
