form div{
    width: 80%;
    min-width: 60rem;
    margin: 1em;
    padding-left: 3em;
}

form div label{
    display: inline-block;
    width: 4rem;
    font-weight: bolder;
}

form div label:after{
    content: ":";
}

form div input{
    width: 25rem;
}

form div input.checkbox{
    width: 3rem;
}

form div textarea{
    width: 25rem;
    height: 15rem;
    vertical-align: top;
}

form div.hidden{
    display: none;
}
