html{
    font-size: 10px;
}

body{
    width: 80%;
    min-width: 80rem;
    margin: auto;
    font-size: 1.6rem;
}

#content{
    width: 80%;
    min-width: 64rem;
    margin: 2rem auto;
    background-color: #FFFFFF;
    padding: 2rem 5rem;
}

header h1{
    display: inline-block;
    min-height: 8rem;
    border: solid darkgoldenrod 5px;
    background-color: darkkhaki;
    color: lightgoldenrodyellow;
    font-size: 6rem;
    margin: 0.5rem 0;
}

nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav li{
    flex: 1;
    display: flex;
    width: 100%;
    min-height: 2.5rem;
    background-color: darkgoldenrod;
    text-align: center;
    font-variant: small-caps;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

nav a{
    text-decoration: none;
    display: block;
    color: lightgoldenrodyellow;
    width: 100%;
    padding: 0;
    margin: 0;
    border-left: solid darkgoldenrod;
    border-right: solid darkgoldenrod;
}

nav a:hover{
    background-color: darkkhaki;
}

nav .login_form{
    text-align: right;
    height: 2.5rem;
    padding: 0;
    min-width: 25rem;
    margin: 0;
}

.login_form input{
    width: 8rem;
    height: 1rem;
    display: inline-block;
}

.login_form button{
    width: 5rem;
    margin-right: 0.5rem;
    display: inline-block;
}

main, header{
    background-color: lightgoldenrodyellow;
    border: solid darkgoldenrod;
    padding: 1rem;
}

.flex_container{
    display: flex;
    flex-wrap: wrap;
}

.tag{
    flex: 1;
    text-align: center;
    background-color: darkgoldenrod;
    margin: .5rem;
    max-height: 10rem;
    min-width: 27rem;
}

.tag h2{
    max-height: 3rem;
}

.tag a{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
}

.tag a:hover, .tag:hover{
    background-color: darkkhaki;
}

.red{
    color: red;
}

.green{
    color: green;
}

.tag .vote_box{
    font-weight: 900;
    background-color: khaki;
    margin: auto;

}

.tag .vote_box img{
    max-width: 1rem;
    max-height: 1rem;
}

.tag .vote_box img:hover{
    max-width: 1.3rem;
    max-height: 1.3rem;
}

.tag .vote_box a, .tag .vote_box a {
    display: inline-block;
    background-color: khaki;
}

.warning_message{
    display: block;
    padding: 2rem 2rem;
    margin: 1rem;
    background-color: lightsalmon;
    color: crimson;
}
.block_link{
    display: inline-block;
    color: lightgoldenrodyellow;
    text-decoration: none;
    padding: 1rem;
    background-color: darkgoldenrod;
    font-variant: small-caps;
    font-weight: bold;
    margin-bottom: 2rem;
}

.block_link:hover{
    background-color: darkkhaki;
}

.profile_pic{
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem;
}

.small_pic{
    max-width: 2rem;
    max-height: 2rem;
}