{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pending Nurls</h1>

        {% for pend in pendingNurls %}
            <div class="nurl_summary">
                <a class="block_link" href="{{ path('pendingnurl_show', {'id':pend.id}) }}">
                    {{ pend.nurl.title }}
                </a>
                <div>
                    <p>
                        {{ pend.nurl.notes }}
                    </p>
                </div>
                <a class="block_link" href="http://{{ pend.nurl.url }}">Link</a>
            </div>
        {% endfor %}
{% endblock %}
