{% extends 'base.html.twig' %}

{% block body %}
    <h1>Propose a New Tag</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="submit" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('tag_index') }}">Back to the Tags</a>
        </li>
    </ul>
{% endblock %}
